#red{
    color: red;
}
#blue{
    color:lightskyblue;
}
#orange{
    color: orangered;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
img{
    width: 200px;
    height: 200px;
}